* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: $font-stack;
}

header {
    max-width: 1240px;
    padding: 0 30px;
    margin: 0 auto;
    overflow: hidden;
    height: 100vh;

    .divider {
        position: absolute;
        left: 0px;
        right: 0px;
        width: 100%;
    }
}

p {
    display: inline;
}