$divider-color: #d7d7d7;
$primary-color: #ecc7d0;
$secondary-color: #ec3c73;
$text-color: #000000;
$search-color: #191919;
$font-stack: Lato, Arial, Helvetica;
$top-bar-spacing: 1.3rem;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

body {
    font-family: $font-stack;
}

p {
    display: inline;
}

// top bar styles

.top-bar {
    display: flex;
    flex-direction: row;
    height: 50px;
    align-items: center;
}

.contact-info-container {
    flex: 1;
    display: flex;
}

.phone-number-item {
    margin-right: $top-bar-spacing;
}

.top-bar-icon {
    margin-right: 0.5rem;
}

.top-bar-text {
    font-size: 14px;
}

.auth-button {
    display: flex;
    align-items: center;
    height: 100%;
    border: none;
    border-left: 1px solid $divider-color;
    border-right: 1px solid $divider-color;
    background-color: inherit;
    padding: 0 1.7em;
    cursor: pointer;
}

.auth-button:nth-child(2) {
    border-left: none;
}

.user-auth-container {
    display: flex;
    height: 100%;
    line-height: 22px;
}

.divider {
    height: 1px;
    background-color: $divider-color;
    border: none;
}

// mid bar styles

.upper-navbar {
    margin: 2.2rem 0 3rem 0;
}

.lower-navbar {
    margin-bottom: 1.6rem;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-logo {
    margin-right: 8%;
}

.search-bar {
    border: none;
    border-bottom: 1px solid $search-color;
    padding: 0.4rem;
    font-size: 14px;
    flex: 1;
    width: 0;
}

.search-bar:focus {
    outline: none;
}

.search-group {
    flex: 2;
    display: flex;
    align-items: center;
    max-width: 480px;
}

.search-icon {
    position: relative;
    right: 18px;
    top: -5px;
}

.basket-container {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-right: 3.2rem;
}

.basket-text {
    margin-top: -5px;
    margin-left: -7px;
    font-weight: bold;
}

.badge {
    background: $primary-color;
    border-radius: 50%;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    width: 22px;
    height: 22px;
    padding-top: 3px;
    position: relative;
    text-align: center;
    top: 20px;
    right: 11px;
}

// low bar style

.navbar-section {
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.selected-section {
    color: $primary-color;
}
